<!-- templates/fragments/footer.html -->
<footer th:fragment="footer"
        style="background:#f3f3f3; padding:28px 20px; font-size:.9em; color:#666;
               text-align:center; border-top:1px solid #ddd; margin-top:48px;">
    <div style="max-width:1200px; margin:0 auto;">
        <p><strong>MovieTalk 주식회사</strong> | 대표: 7팀</p>
        <p>주소: 서울 종로구 종로3길 17, 광화문 D타워 D1동 16-17층 |
            이메일: contact@movietalk.co.kr</p>
        <p>
            <a href="https://github.com/yongzooda/MovieTalk" target="_blank"  style="color:#666;text-decoration:underline;margin-right:12px;">이용약관</a>
            <a href="https://polite-hole-598.notion.site/2165f9aa2069808792ecc05e72113830?source=copy_link" target="_blank" style="color:#666;text-decoration:underline;">개인정보처리방침</a>
        </p>
        <p style="margin-top:10px;">© 2025 MovieTalk Inc. All rights reserved.</p>
    </div>
</footer>
